.goalOptions-container1 {
  padding-bottom: 1%;
}

.goalOptions-container2 {
  border-top: 1px solid black;
  padding-top: 1%;
}

.goalOptions-delete-button {
  background: none;
  color: red;
  border: none;
  padding: 0;
}
.goalOptions-delete-button:hover {
  background: none;
  color: red;
  text-decoration: underline;
}
.goalOptions-delete-button:enabled {
  box-shadow: none;
}
.goalOptions-delete-button:active {
  color: red !important;
  background-color: white !important;
  border-color: none !important;
  box-shadow: none !important;
}
.goalOptions-delete-button:disabled {
  background: none;
  color: red;
}

.goalOptions-change-goal-button {
  background: none;
  color: green;
  border: none;
  padding: 0;
  margin-bottom: 1%;
}
.goalOptions-change-goal-button:hover {
  background: none;
  color: green;
  text-decoration: underline;
}
.goalOptions-change-goal-button:enabled {
  box-shadow: none;
}
.goalOptions-change-goal-button:active {
  color: green !important;
  background-color: white !important;
  border-color: none !important;
  box-shadow: none !important;
}
.goalOptions-change-goal-button:disabled {
  background: none;
  color: green;
}
.goalOptions-change-goal-button:disabled:hover {
  text-decoration: none;
}
