.goalform-container {
  text-align: center;
  border-top: 1px solid black;
  padding: 2%;
}

.goalForm-submit-button {
  margin-top: 2%;
  background: none;
  color: green;
  border: none;
  padding: 0;
}
.goalForm-submit-button:hover {
  background: none;
  color: green;
  text-decoration: underline;
}
.goalForm-submit-button:enabled {
  box-shadow: none;
}
.goalForm-submit-button:active {
  color: green !important;
  background-color: white !important;
  border-color: none !important;
  box-shadow: none !important;
}
.goalForm-submit-button:disabled {
  background: none;
  color: green;
}
.goalForm-submit-button:disabled:hover {
  text-decoration: none;
}
