.goal-card-header-uncompleted {
  padding: 0;
  cursor: pointer;
}
.goal-card-header-completed {
  background: rgb(40, 167, 69);
  padding: 0;
  cursor: pointer;
}

.goal-card-accordion-toggle {
  margin-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.goal-done-button {
  margin-right: 15.5px;
  float: right;
  color: green;
  background-color: inherit;
  border-color: rgba(0, 0, 0, 0);
}

.goal-done-button:hover {
  background-color: rgb(156, 158, 156);
  border-color: rgb(156, 158, 156);
}

.goal-done-button:hover:disabled {
  background-color: inherit;
  border-color: rgba(40, 167, 69, 0);
}
